<launch>
    <node pkg="bluefox_mpu9250_ros" name="bluefox_mpu9250" type="mpu9250_node" output="screen">
    </node>

    <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen">
    </node> -->

    <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" output="screen">
    </node>
</launch>
